<!--
  Generated template for the EmergencyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Emergency request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="getting-started" style="background-color:rgb(37, 41, 41)">

    <div *ngIf="appointmentLoad">
        <p *ngIf="appointment.isConfirmed=='0'" style="color:red; font-family: Verdana">
             Emergency Appoinment Not Confirmed Yet<br>
             <strong>Appointment Id: {{appointment.appointmentID}}</strong>
             <strong>Center Name: {{appointment.centerName}}</strong>
             <strong>Date: {{appointment.date}}</strong>
             <strong>Time: {{appointment.time}}</strong>
             <strong>Service Type: {{appointment.serviceType}}</strong>
          </p>
         <p *ngIf="appointment.isConfirmed=='1'" style="color:green; font-family: Verdana">
             Emergency Appoinment Confirmed<br>
             <strong>Appointment Id: {{appointment.appointmentID}}</strong>
             <strong>Center Name: {{appointment.centerName}}</strong>
             <strong>Date: {{appointment.date}}</strong>
             <strong>Time: {{appointment.time}}</strong>
             <strong>Service Type: {{appointment.serviceType}}</strong>
         
         </p>
       </div>
       
  <br>
    

   
      <ion-item class="item item-trns text-center">
        <ion-label>Problem:</ion-label>

          <ion-select [(ngModel)]="service" name="serviceType"  (ionChange)="onChange()">
              <ion-option *ngFor="let problem of problems" value="{{problem.name}}">{{problem.name}}</ion-option>
             
            </ion-select>

      </ion-item>

      <br><br>
      <ion-item class="item item-trns text-center">
          <ion-label color="primary" stacked>Additional details:</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <br>
        
        <!-- <br><br><br><br><br><br><br> -->
        <!-- <button ion-button type="submit" on-click="presentConfirm()">Request</button> -->
      
        <!-- location -->

        <div *ngIf="isDataLoad">
            <h2 padding style="color:antiquewhite; font-family:Tahoma">Available service centres</h2>
          <ion-item class="item item-trns text-center" *ngFor="let data of serviceCentersList" >
              <h2>{{data.name}}</h2>
              <p>{{data.phno}}</p>
              <!-- <p>Date: {{data.date}}</p> -->
              
              <!-- View Map -->
              <button ion-button type="submit" on-click="goToMaps(data)">View Map</button>

              <!-- Request Service -->
          <button ion-button item-end type="button" clear="true" large="false" (click)="presentConfirm(data)">
              REQUEST
            </button>
          </ion-item>
        </div>
        
       
</ion-content>
