<ion-menu id="leftMenu" [content]="content" type="overlay">
	<ion-header>
		<ion-toolbar color="dark" >
			<ion-title>Pages</ion-title>
		</ion-toolbar>
	</ion-header>

<ion-content class="getting-started" style="background-color:rgb(17, 20, 20)">
	<ion-list >
		<ion-item class="item item-trns text-center" *ngFor="let p of pages" (click)="openPage(p)">
			<ion-icon [name]="p.icon" item-left></ion-icon>
			{{p.title}}
		</ion-item>
		<ion-list-header class="item item-trns text-center" *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>

		<ion-item class="item item-trns text-center" (click)="logout()" *ngIf="auth.authenticated">
			<ion-icon name="log-out" item-left></ion-icon>
			Log out
		</ion-item>

		<ion-item class="item item-trns text-center" (click)="login()" *ngIf="!auth.authenticated">
			<ion-icon name="log-in" item-left></ion-icon>
			Log in
		</ion-item>
	</ion-list>

</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>