page-non-emergency {

}

.getting-started{
    background-image: url('../../assets/imgs/back4.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
  }
  
.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}