<ion-header>
  <ion-navbar color="dark">
    <ion-title>Make an appointment</ion-title>
  </ion-navbar>
</ion-header>

<!-- Appointment Form -->
<ion-content padding class="form-content" class="getting-started" style="background-color:rgb(37, 41, 41)">
    <form #appointmentForm="ngForm" (ngSubmit)="createAppointment(appointmentForm.value)">

        <!-- Vehicle Selection -->
        <ion-item class="item item-trns text-center">
            <ion-label>Select Vehicle:</ion-label>

              <ion-select [(ngModel)]="appointment.vehicleNo" name="vehicleNo">
                  <ion-option *ngFor="let vehicle of vehicles" value="{{vehicle.vehicleNo}}">{{vehicle.vehicleNo}}</ion-option>
              </ion-select>
        </ion-item>
        <br>

        <!-- Service Centre Selection-->
        <ion-item class="item item-trns text-center">
            <ion-label>Service centre:</ion-label>

              <!-- Load Service center list -->
              <ion-select [(ngModel)]="appointment.centerName" name="centerName">
                  <ion-option *ngFor="let serviceCenter of serviceCenters" [value]="serviceCenter">{{serviceCenter.name}}</ion-option>

              </ion-select>
        </ion-item>
        <br>

        <!-- Service Type Selection -->
        <ion-item class="item item-trns text-center">
            <ion-label>Service Type:</ion-label>
    
              <ion-select [(ngModel)]="appointment.serviceType" name="serviceType">
                  <!-- Load Non-emergency services -->
                  <ion-option *ngFor="let problem of problems" value="{{problem.name}}">{{problem.name}}</ion-option>
  
              </ion-select>
        </ion-item>
        <br>

        <!-- Date Selection -->
        <ion-item class="item item-trns text-center">
            <ion-label>Date:</ion-label>
            
            <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="appointment.date" name="date"></ion-datetime>
        </ion-item>
        <br>

        <!-- Time Selection -->
        <ion-item class="item item-trns text-center">
            <ion-label>Time:</ion-label>
            
            <ion-datetime displayFormat="HH:mm:A" [(ngModel)]="appointment.time" name="time"></ion-datetime>
        </ion-item>
        
        <br><br>
        <!-- Request appointment -->
        <button ion-button type="submit" block color="danger">Request</button>
    </form>
    
</ion-content>
